@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400;1,500;1,700&display=swap');


:root{
    --black: #000;
    --maincolor:#fff;
    --azulito:rgb(255, 0, 242);


}
.section-header{
    height: 590px;
}

.icons img{
    width: 20px;
    height: 20px;
}
.name{
    font-family: 'Ubuntu', sans-serif;
}

.primero{
    padding-top: 95px;
}
.primer{
     background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 650px;
    width: 100%;
}

.segundo{
    background-color: #fff;
    height: 1230px;
    width: 100%;
}

.tercero{
    background-image: url(./images/boooo.svg);
    background-size: cover;
    height: 590px;
    width: 100%;

}

.tercero input{
    width: 80%;
    margin:20px 20px;
    padding-top: 20px;
}
 
.tercero p{
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.section-header{
    background-image: url(./images/boooo.svg);

    background-size: cover;
}
 .segundo{
    background-image: url(./images/bac.svg);
    background-size: cover;
 }
.lugar1{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(255,255,255,0);
border: 6px solid #f2d5ba;
}

.lugar2{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(82, 19, 19, 0);
border: 6px solid #bbbaf2;
}

.lugar3{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(255,255,255,0);
border: 6px solid #c7f2ba;
}

.lugar4{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(255,255,255,0);
border: 6px solid #c7f2ba;
}

.lugar5{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(255,255,255,0);
border: 6px solid #c7f2ba;
}

.lugar6{
    width: 266px;
    height: 402px;
border-radius: 18px;
background-color: rgba(255,255,255,0);
border: 6px solid #c7f2ba;
}

.text-2{
    padding-bottom: 75px;
}

.tercero23{
    padding-bottom: 20px;
}

.segudin{
    padding-top: 70px;
}

.tercerin{
    padding-top: 120px;
}

.pie{
    background-color:white;
    height: 400px;
    width: 100%;

}

.hola ul>li{
    text-decoration: none;
    list-style: none;
}
.hola ul>li>a{
  text-decoration: none;
  color: #000;
}

.hola1 input{
    width: 100%;
    text-align: left;
}
.hola p{
    margin-top: 130px;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.hola1 h1{

    margin-top: 117px;
    margin-bottom: 0.5rem;
    font-weight: 50;
    line-height: 1.2;
}

.hola345 p{
     width: 100%;
     display: flex;
}

.jooj{
    padding-top: 134px;
}

.mano img{
    padding-top: 49px;
    padding-left: 89px;
    padding-bottom: 49px;
}

.mano1 img{
    padding-top: 49px;
    padding-left: 89px;
    padding-bottom: 49px;
    width: 10rem;
}

.noche img{
    width: 36rem;
}
.mano2 img{
    padding-left: 89px;
}









